*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}
body{
    background-image: url("./bridge.jpg"); 
    width:90%; 
    height:auto; 
    background-size: cover;
    background-repeat:no-repeat;
    background-position: center;
    font-family: "Raleway", sans-serif;
}
.logo{
    font-size: 24px;
    margin-left: 20px;
    margin-top: 10px;


}
.item1{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 320px;
    margin-left: 100px;
}
hr{
   
    border-color:gray;
    width:150px;
}

.para{
    color: white;
    font-size: 3rem;

}
p{
    color:white
    
}
div{
    color: white;
}
a{
    color: white;
}
.div2{
    position: absolute;
    bottom: 10px;
    left:15px;
}
